.error_display{
    color: #a70000;
    font-weight: 500;
    @include fontSize(13px);
}

.error-input{
    border-color: #bd0202;
}

.btn-ajax-form-btn{
    position: relative;
    &.active{
        padding-left: 15px;
        cursor: progress !important;
        padding-top: 6px;
        &:before{
            content: " ";
            display: inline-block;
            position: relative;
            top: 5px;
            right: 5px;
            border-radius: 50%;
            width: 0;
            height: 0;
            box-sizing: border-box;
            border: 10px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: stop-spin  1.2s infinite;
            display: inline-block;
        }
    }
    &.disabled{
        opacity: .5;
        cursor: progress;
    }
}

.hide{
    display: none;
}


.an-form-submit-message{
    border: 1px solid grey;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px;
    &.success{
        border: 1px solid rgb(0, 189, 0); 
    }
    &.error{
        border: 1px solid #bd0202; 
    }
}

.captcha-image-wrap{
    margin-bottom: 10px;
} 